<app-headers titulo="date-time"></app-headers>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>Datos de Nacimiento</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Fecha Nacimiento</ion-label>
      <ion-datetime
        placeholder="Fecha Nacimiento"
        display-format="DD-MM-YYYY"
        cancel-text="Cancelar"
        done-text="Aceptar"
        [ngModel]="fechaNacimiento.toISOString()"
        (ionChange)="cambioFecha($event)"
      ></ion-datetime>
    </ion-item>

    <ion-list-header>
      <ion-label>Restricciones</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Min - Max</ion-label>
      <ion-datetime
        placeholder="DD-MM-YYYY"
        display-format="DD-MM-YYYY"
        min="2020-02-01"
        max="2020-06-30"
        cancel-text="Cancelar"
        done-text="Aceptar"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Años</ion-label>
      <ion-datetime
        placeholder="YYYY"
        display-format="YYYY"
        min="2010"
        max="2020"
        cancel-text="Cancelar"
        done-text="Aceptar"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Custon</ion-label>
      <ion-datetime
        [pickerOptions]="customPickerOptions"
        [(ngModel)]="customDate"
      ></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>
