<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Botones</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
      <ion-button color="primary">
        <ion-icon name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- botones normales -->
  <ion-button size="small" expand="full">Small</ion-button>
  <ion-button size="default" expand="full">Default</ion-button>
  <ion-button size="large" expand="full">Large</ion-button>

  <!-- Anchor -->
  <ion-button class="top-20" expand="full" routerLink="/alert" color="tertiary"
    >Anchor</ion-button
  >
  <!-- ion-row + ion-coll -->
  <ion-row>
    <ion-col>
      <ion-button
        class="top-20"
        expand="full"
        routerLink="/avatar"
        color="success"
        >Avatar</ion-button
      >
    </ion-col>
    <ion-col>
      <ion-button
        class="top-20"
        expand="full"
        routerLink="/action-sheet"
        color="warning"
        >Action Sheet</ion-button
      >
    </ion-col>
  </ion-row>

  <!-- file -->
  <ion-button class="top-20" fill="clear">Clear</ion-button>
  <ion-button class="top-20" fill="outline">Outline</ion-button>
  <ion-button class="top-20" fill="solid">Solid</ion-button>

  <!-- Round -->
  <ion-button class="top-20" shape="round">Round Button</ion-button>
</ion-content>
