<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons (click)="toogleMenu()">
      <ion-icon name="menu" slot="icon-only"></ion-icon>
    </ion-buttons> -->

    <ion-menu-button
      color="primary"
      menu="first"
      slot="start"
    ></ion-menu-button>

    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let c of componentes | async" [routerLink]="c.redirecTo">
      <ion-icon slot="start" [name]="c.icon"></ion-icon>
      <ion-label>{{c.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
