<app-headers [titulo]="titulo || 'Alert Page'"></app-headers>

<ion-content class="ion-padding">
  <ion-button color="primary" (click)="presentAlert()" expand="full"
    >Alert</ion-button
  >

  <ion-button color="secondary" (click)="presentAlertPrompt()" expand="full"
    >Input</ion-button
  >
</ion-content>
