<app-headers titulo="action sheet"></app-headers>

<ion-content class="ion-padding">
  <ion-button color="primary" expand="full" (click)="presentActionSheet()">
    Mostrar Actio Sheet
  </ion-button>
</ion-content>
