<ion-header>
  <ion-toolbar>
    <ion-buttons position>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Avatar</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="/assets/0.png" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-chip color="primary" *ngFor="let i of [1,1,1,1,1]">
    <ion-avatar>
      <img src="/assets/logo.png" />
    </ion-avatar>
    <ion-label>Ionic</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item *ngFor="let i of [1,1,1,1,1]">
      <ion-avatar slot="start">
        <img src="/assets/0.png" />
      </ion-avatar>
      <ion-label>Ionic-Angular</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
