<app-headers titulo="card"></app-headers>

<ion-content class="ion-padding">
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon name="pin" slot="start"></ion-icon>

      <ion-label>
        Marcador
      </ion-label>
    </ion-item>
    <ion-card-content class="ion-text-justify">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
      eveniet dolorum voluptate exercitationem similique consectetur expedita
      nulla quis, sapiente sequi? Similique, sed quisquam cum odit delectus
      ullam alias fugiat doloribus?
    </ion-card-content>
  </ion-card>
</ion-content>
